.profile-form {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.profile-form__container {
  width: 100%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form__heading {
  padding-bottom: 32px;
}

.profile-form__content {
  width: 100%;
  max-width: 680px;
}

.profile-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
}

.profile-form__image-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 36px;
}

/* 共通の画像設定（JSが使う） */
.profile-form__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* デフォルト画像 */
.profile-form__image--default {
  width: 150px;
  height: 150px;
}

/* ユーザーがアップした画像だけ枠付きの丸 */
.profile-form__image--custom {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.profile-form__file-button {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF5555;
  border-radius: 10px;
  cursor: pointer;
}

.button--file-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #FF5555;
  cursor: pointer;
}

.profile-form__input-area {
  width: 100%;
  margin-top: 50px;
}

.profile-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
}

.profile-form__button {
  width: 100%;
  margin-top: 40px;
}

.profile-form__button-submit {
  width: 100%;
  height: 60px;
  background-color: #FF5555;
  color: #FFF;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
}

/* ===============================
      タブレット（768〜850px）対応
   =============================== */

@media screen and (min-width: 768px) and (max-width: 850px) {

  .profile-form__container {
    max-width: 480px;
  }

  .profile-form__heading {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .profile-form__form {
    max-width: 480px;
  }

  .profile-form__image-area {
    gap: 28px;
  }

  .profile-form__image {
    width: 125px;
    height: 125px;
  }

  .profile-form__image--default {
    width: 125px;
    height: 125px;
  }

  .profile-form__file-button {
    width: 125px;
    height: 35px;
  }

  .button--file-select {
    font-weight: 600;
    font-size: 14px;
  }

  .profile-form__label {
    font-size: 20px;
  }

  .profile-form__input {
    height: 40px;
    font-size: 14px;
  }

  .profile-form__button {
    width: 100%;
    margin-top: 30px;
  }

  .profile-form__button-submit {
    height: 40px;
    font-weight: 600;
    font-size: 18px;
  }
}