.profile-form {
  display: flex;
  justify-content: center;
  padding: 16px 16px;
}

.profile-form__container {
  width: 100%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form__heading {
  padding-bottom: 24px;
}

.profile-form__content {
  width: 100%;
  max-width: 680px;
}

.profile-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  gap: 8px;
}

.profile-form__section {
  margin-bottom: 40px;
}

.profile-form__image-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 42px
}

.profile-form__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
}


.profile-form__image--default {
  width: 150px;
  height: 150px;
}

.profile-form__file-button {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FF5555;
  border-radius: 10px;
  cursor: pointer;
}

.button--file-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #FF5555;
}

.profile-form__input-area {
  width: 100%;
  margin-top: 50px;
}

.profile-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  gap: 6px;
}

.profile-form__button {
  width: 100%;
  margin-top: 40px;
}

.profile-form__button-submit {
  width: 100%;
  height: 60px;
  background-color: #FF5555;
  color: #FFF;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
}