.verify-email {
  max-width: 700px;
  margin: 100px auto;
  padding: 0 16px;
  text-align: center;
}

.verify-email__message {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 24px;
  color: #000;
  font-weight: 500;
}

.verify-email__form {
  margin-top: 50px;
}

.verify-email__resend-button {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 24px;
  background-color: #FF5555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 40px;
}

@media screen and (min-width:768px) and (max-width:850px) {

  .verify-email {
    max-width: 680px;
  }

  .verify-email__message {
    font-weight: 600;
    font-size: 20px;
  }

  .verify-email__resend-button {
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
  }
}